html {
  background-color: #121212;
  font-family: Arial, Helvetica, sans-serif;
  color: rgba(241, 233, 233, 0.925);
  display: flex;
  justify-content: center; /*horizontal*/
  align-items: center; /*vertical*/
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
  margin: 0;
}

/* nav-bar*/

.navbar {
  width: 100%;
  margin: 0;
  background-color: #333;
  position: sticky;
  top: 0;
  z-index: 1000;
  span {
    margin: 10px;
  }
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  list-style-type: none;
}

.navbar li {
  border-right: 1px solid #bbb;
}

.navbar li:last-child {
  border-right: none;
}

.navbar a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar li a:hover {
  background-color: rgb(82, 55, 214);
}

/* Estilos generales */

.forms-cotainer {
  height: 100vh;
  /* background-color: #121212; */
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #c73838;
}

.forms-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 400px;
  padding: 30px;
  border: 2px solid rgb(82, 55, 214);
  border-radius: 5px;
  background-color: #121212;
}

/* Estilo para los inputs */
.inputs_fields {
  height: 30px;
  width: 100%;
  max-width: 300px;
  border-radius: 5px;
  margin-top: 5px;
  margin-bottom: 15px;
  border: 1px solid #afadad;
  padding: 5px;
  box-sizing: border-box;
}

/* Estilo para los labels */
.labels {
  width: 100%;
  max-width: 300px;
  margin: 10px 0 5px 0;
  color: rgb(252, 245, 245);
  text-align: left;
}

#title_label {
  margin-left: 150px;
}

button {
  color: #eedddd;
  margin: 20px;
  height: 2.5rem;
  background-color: rgb(82, 55, 214);
  border-radius: 5px;
  border-style: none;
}

/*To do list */

.container {
  background: #121212;
  padding: 20px;
  border-radius: 5px;
  width: 400px;
  border: 2px solid rgb(82, 55, 214);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

#main-title-todo-list {
  font-weight: lighter;
}

#taskInput {
  border-radius: 4px;
  height: 1.5rem;
  border: 2px solid rgb(82, 55, 214);
}

.listButtons {
  padding: 10px;
  cursor: pointer;
}

.filters {
  margin: 20px 0;
  border-radius: 5px;
}

.filters button {
  margin-right: 5px;
  width: 100px;
}

.completed {
  text-decoration: line-through;
  color: rgb(226, 223, 223);
}

#taskList {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-left: 20px;
  list-style-type: none;
}
